<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd 
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<context:annotation-config />

	<!-- Chargement modules CXF à partir du jar cxf.jar . Permet chargement 
		rapide du runtime CXF et service lecteur WSDL.. -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxrs:server address="/">
		<jaxrs:serviceBeans>
			<bean class="tetris.interfaces.playing.RestPlayingTetrisFacade">
			</bean>
			<bean class="tetris.interfaces.playing.RestPlayingBattleFacade">
			</bean>
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<!-- Infrastructure layer -->
	<bean
		class="tetris.infrastucture.persistence.inmemory.InMemoryGameRepository">
	</bean>
	<bean
		class="tetris.infrastucture.persistence.inmemory.InMemoryBattleRepository">
	</bean>

	<bean id="tetrisScheduler" class="tetris.infrastucture.scheduler.GameScheduler">
	</bean>
	<bean id="battleScheduler" class="tetris.infrastucture.scheduler.BattleScheduler">
	</bean>

	<task:scheduler id="gameScheduler" pool-size="10"/>

	<task:scheduled-tasks scheduler="gameScheduler">
    	<task:scheduled ref="tetrisScheduler" method="run" fixed-rate="800"/>
    	<task:scheduled ref="battleScheduler" method="run" fixed-rate="30000"/>
	</task:scheduled-tasks>

	<!-- Domain layer -->
	<bean class="tetris.domain.battle.BattleJoinService">
	</bean>
	
	<!-- Application layer -->
	<bean class="tetris.application.ApplicationEvents">
	</bean>
	
	<bean class="tetris.application.DefaultPlayingTetrisService">
	</bean>

	<bean class="tetris.application.DefaultPlayingBattleService">
	</bean>
</beans>
