<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Battle</title>
<link rel="stylesheet" href="css/battle.css">

<script type="text/javascript" src="javascript/jquery-1.10.2.js"></script>
<script type="text/javascript" src="javascript/jquery.timer.js"></script>
<script type="text/javascript" src="javascript/tetris.js"></script>
<script type="text/javascript" src="javascript/JQueryTetrisView.js"></script>
<script type="text/javascript" src="javascript/RestTetrisModel.js"></script>

<script type="text/javascript" src="javascript/BattlePresenter.js"></script>
<script type="text/javascript" src="javascript/JQueryBattleView.js"></script>

</head>
<body>
	<div class="battle">
		<p>Battle <span id="battleId">battleId</span></p>
		<ul class="opponents">
		</ul>
	</div>
</body>
</html>